<script src="/chat.js"></script>
<script src="/socket.io/socket.io.js"></script>
<div style="border: 1px solid seagreen; height: 400px; width: 300px;" id="content"></div>
<form id="form">
    <input type="text" id="field" />

    <input type="submit" />
</form>

