<script src="chat.js"></script>
<script src="socket.io/socket.io.js"></script>
<form id="form">
    <input type="text" id="field" />

    <input type="submit" />
</form>

<textarea id="content"></textarea>