<% layout('main') %>
<form method="post" action="/login">
    <div>Войти</div>
    <fieldset>
        <label>Логин</label>
        <input type="text" name="login">
    </fieldset>
    <fieldset>
        <label>Пароль</label>
        <input type="password" name="pass">
    </fieldset>
    <input type="submit" value="Войти">
</form>